/* General */

html {
  font-size: 8px;
  background-color: #242F40;
  font-family: "Georgia", sans-serif;
}

#header-offset {
  position: absolute;
  top: 64px;
  top: 8rem;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 56px;
  font-size: 7rem;
  color: #E5E5E5;
  line-height: 1.2;
  letter-spacing: 1.6px;
  letter-spacing: .2rem;
}

h2 {
  font-size: 20px;
  font-size: 2.5rem;
  color: #363636;
  line-height: 1.5;
  font-weight: 550;
}

h3 {
  font-size: 40px;
  font-size: 5rem;
  letter-spacing: 0.8px;
  letter-spacing: .1rem;
  color: #CCA43B;
}

h4 {
  font-size: 8px;
  font-size: 1rem;
  color: #CCA43B;
  letter-spacing: 1.6px;
  letter-spacing: .2rem;
}

h5 {
  font-size: 16px;
  font-size: 2rem;
  color: #E5E5E5;
  line-height: 1.3;
  font-weight: 300;
  letter-spacing: 0.8px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-align: center;
}

p {
  font-size: 16px;
  font-size: 2rem;
  color: #E5E5E5;
  line-height: 1.3;
  font-weight: 400;
  letter-spacing: 0.16px;
  letter-spacing: .02rem;

}


/* Header */

header {
  height: 64px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  z-index: 100;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #242F40;
  border-bottom: 1px solid #E5E5E5;
}

.logo {

  display: -webkit-inline-box;

  display: -ms-inline-flexbox;

  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 24px;
}

.logo span {
  font-size: 18px;
  text-transform: uppercase;
  vertical-align: middle;
  line-height: 27px;
}

#colmar {
  font-weight: 700;
  font-size: 24px;
  font-size: 3rem;
  color: #CCA43B;
}

#academy {
  font-size: 24px;
  font-size: 3rem;
  font-weight: 300;
  color:  #E5E5E5;
}

nav ul {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 24px;
}

ul li a {
  margin-left: 16px;
  font-size: 16px;
  font-size: 2rem;
  text-decoration: none;
  color: #E5E5E5;
  -webkit-transition: all 0.2s linear 0s;
  transition: all 0.2s linear 0s;
}

ul li a:hover {
  color: #CCA43B;
}

ul li a:active {
  color: #CCA43B;
}

.mobile-nav {
  display: none;
}

/* MOBILE - Header Section */

@media only screen and (max-width: 768px) {
  .logo, .desktop-nav {
    display: none;
  }

  nav.mobile-nav, nav.mobile-nav ul {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 100%;
  }
}

/* JAVA- Header Section */

body.scrolled header {
    opacity: 0.8;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    -webkit-transition: 1s ease-in;
    transition: 1s ease-in;
}
body.scrolled header:hover {
  opacity: 8.0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=800)";
  -webkit-transition: .4s ease-out;
  transition: .4s ease-out;
}

/* Main Banner */

.main_banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #CCA43B;
  width: 100%;
}

.main_banner h1 {
  margin-bottom: 32px;
  margin-bottom: 4rem;
}

.main_banner h2 {
  margin-bottom: 40px;
  margin-bottom: 5rem;
}

.main_banner-img {
  width: 60%;
  height: auto;
  margin: 32px 24px;
  margin: 4rem 3rem;
}

.main_banner img {
  width: 100%;
  height: auto;
}


.main_banner .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 32px;
  padding: 4rem;
  max-width: 480px;
  max-width: 60rem;
  text-align: center;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
}

.button {
  -ms-flex-item-align: center;
      align-self: center;
  width: 80%;
  border-radius: 1rem;
  border: 1px solid white;
}
.button p {
  color: #CCA34B;
  background-color: #242F40;
  text-align: center;
  font-size: 24px;
  font-size: 3rem;
  font-weight: 600;
  padding: 8px;
  padding: 1rem;
}

.button p:hover {
  color: #E5E5E5;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;


}

/* MOBLILE- Main Banner */

@media only screen and (max-width: 768px) {
  .main_banner {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
              -ms-grid-row-align: center;
          align-items: center;
  }

  .main_banner-img {
    background-image: url(../media/images/banner.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 350px;
    margin: 0px;
  }

  .main_banner-img img {
    display: none;
  }

  .main_banner .content {
    margin: 3rem 2rem 3rem 2rem;
    text-align: center;
  }

  .main_banner .content h1 {
    width: 100%;
  }

  .main_banner .content h2 {
    width: 100%;
    margin-bottom: 3rem;
  }

}

/* Second Banner */

    /* Left Box */


.second_banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  background-color: #363636;
}

.second_banner h3 {
  margin-bottom: 24px;
  margin-bottom: 3rem;
}

.second_banner p {
  margin-bottom: 24px;
  margin-bottom: 3rem;
}



.left-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 60%;
  margin: 32px 24px;
  margin: 4rem 3rem;
}

.left-box img {
  width: 100%;
  height: auto;
  margin-bottom: 32px;
  margin-bottom: 4rem;
}

.left-box .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

    /* Right Box */


.right-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 40%;
  /* padding-bottom: 4rem; */
  border-left: .2px solid black;
  margin-top: 20px;
  margin-top: 2.5rem;
  background-color: #242F40;
  margin-bottom: 24px;
  margin-bottom: 3rem;
}

.right-box .thumbnail {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  border: 0.8px solid black;
  border: .1rem solid black;
}

.thumbnail .thumbnail-img {
  width: 35%;
  height: auto;
  margin: 16px;
  margin: 2rem;
}

.thumbnail-img img {
  width: 100%;
  height: auto;
}

.thumbnail .thumbnail-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.thumbnail a {
  font-size: 12px;
  font-size: 1.5rem;
  font-weight: 650;
  color: #CCA43B;
}

.thumbnail h2 {
  color: #E5E5E5;
  margin-bottom: 8px;
  margin-bottom: 1rem;
}

/* MOBLILE-Second Banner */

.moblie-second-banner {
  display: none;
}

@media only screen and (max-width: 768px) {
  .second_banner .left-box, .second_banner .right-box{
    display: none;
  }

  .moblie-second-banner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    background-color: #242F40;
    padding-top: 2rem;
  }

  .box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 6rem;
  }

  .mobile-second-banner-img {
    width: 100%;
    height: auto;
    /* margin-top: 2rem; */
  }

  .box .thumbnail-info {
    margin-top: 4rem;
  }

  .box .thumbnail-info h2 {
    color: #E5E5E5;
    margin-bottom: 2rem;
    font-size: 3rem;
  }

  .box .thumbnail-info p {
    font-size: 2.5rem;
    font-weight: 400;
  }

  .box .thumbnail-info h4 {
    margin-bottom: 0rem;
    font-size: 1.75rem;
  }

}
 /* Learn Banner */

 .learn-banner {
  width: 100%;
  height: auto;
  background-color: #CCA43B;
  margin-top: 0;
}

.learn-banner h3 {
  text-align: center;
  padding-top: 32px;
  padding-top: 4rem;
  color: #E5E5E5;
}

.learn-banner .gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 32px 72px;
  margin: 4rem 9rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.gallery-thumbnail {
  background-color: #363636;
  width: 260px;
  width: 32.5rem;
  margin-right: 32px;
  margin-right: 4rem;
  margin-bottom: 32px;
  margin-bottom: 4rem;
}

.gallery-thumbnail h2{
  color: #CCA34B;
  text-align: center;
}

.gallery-thumbnail h5{
  margin: 8px;
  margin: 1rem;
  margin-left: 16px;
  margin-left: 2rem;
}

.gallery-thumbnail p {
  margin-left: 16px;
  margin-left: 2rem;
  margin-bottom: 32px;
  margin-bottom: 4rem;
}

.gallery-thumbnail img {
  position: relative;
  display: block;
  max-width: 400px;
  max-width: 50rem;
  width: 100%;
  height: auto
}

.gallery-thumbnail { -webkit-transition: all .2s ease-in-out; transition: all .2s ease-in-out; }
.gallery-thumbnail:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}


/* MOBILE LEARN BANNER */

.mobile-learn-banner {
  display: none;
}

@media only screen and (max-width: 768px) {
  .learn-banner .desktop-learn-banner{
    display: none;
  }

  .mobile-learn-banner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 3rem;
  }

  .banner-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    margin: auto 2rem;
  }

  .banner {
    background-color: #363636;
    margin: 1rem 2rem;
    width: 80%;
    text-align: center;
  }

  .banner h2 {
    color: #CCA43B
  }

  .mobile-learn-banner .banner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 2rem;
    margin-bottom: 1rem;
  }
}

/* Thesis Exhibit */


.thesis_banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  background-color: white;
}

.thesis_banner h2 {
  line-height: normal;
  margin-bottom: 8px;
  margin-bottom: 1rem;
}

.thesis_banner p {
  color: black;
  margin-bottom: 32px;
  margin-bottom: 4rem;
}

.thumbnail-info p {
  color: #E5E5E5;
}
.left-box video {
  width: 100%;
  height: auto;
  margin-bottom: 32px;
  margin-bottom: 4rem;
}

#thesis-title {
  text-align: center;
  margin-bottom: 32px;
  margin-bottom: 4rem;
}

.thesis_banner .right-box {
  margin-bottom: 208px;
  margin-bottom: 26rem;
}

/* MOBILE THESIS BANNER */

.mobile-thesis-banner {
  display: none;
}

@media only screen and (max-width: 768px) {
  .thesis_banner{
    display: none;
  }

  .mobile-thesis-banner {
    display: block;
  }

  .mobile-thesis-banner video {
    width: 100%;
    margin: 0rem;
    padding: 0rem;
  }

  #thesis-title {
    margin: 0rem;
    padding: 2rem;
  }
}

/* Footer */

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 1.6px solid black;
  border: .2rem solid black;
  height: 80px;
  height: 10rem;
}

footer p {
  display: block;
  margin-left: 24px;
  margin-left: 3rem;
  font-size: 8px;
  font-size: 1rem;
}

footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 16px;
  margin-right: 2rem;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

footer span {
  font-size: 8px;
  font-size: 1rem;
  margin-right: 8px;
  margin-right: 1rem;
  color: white;
}

/* Transformations */

.gallery-thumbnail:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: .3s ease-out;
  transition: .3s ease-out;
}


/* .thumbnail:hover {
  transform: scale(1.1);
  transition: .4s ease-out;
} */

.thumbnail-info a:hover {
  /* color: #E5E5E5; */
  text-decoration: underline;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}
